.inner_header{
    padding: 30px 0 10px;
}

.innerHead_text{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .breadcrumb{
        margin-bottom: 30px;

        li{
          color:var(--gray-650);  
          font-weight: 300;
          font-size: 1rem;
        }

       a{
        color:var(--gray-550);
       } 
    }

    h1{
        font-size: 2.813rem;
        font-weight: 800;
        color:var(--primary-dark);
        margin-bottom: 30px;
    }

    p{
       color:var(--gray-800);
       font-weight: 400;
       font-size: 1.125rem; 
    }
}

.big_avatar{
    display: flex;
    justify-content: end;
}